build/
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp
*.num8
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
x64/
*.tlog
*.log
bitset_space_calculator.html
num8-diel3.html
num8-notes.html
num8-zaklady.html
num8-koncepty.html
/build-baseline
/prompts
/build-wsl-gcc-c99-debug
num8_wsl_full_verify.sh
/build-wsl-clang-c99-debug
/build-wsl-gcc-c11-debug
/build-wsl-gcc-c11-release
/build-wsl-gcc-c99-release
/build-wsl-clang-c11-debug
/build-wsl-clang-c99-release
build-wsl-asan/.ninja_log
/build-wsl-asan
/build-wsl-clang-c11-release
